<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackoverflow</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h1>Welcome to Stackoverflow!</h1>

<br>

<h2>Submit question:</h2>
<form method="post" action="/new-question">
    <label class='label' for="title">Title:</label><br>
    <input type="text" id="title" name="title" class="form"><br>
    <label class='label' for="description">Description:</label><br>
    <input type="text" id="description" name="description" class="form"><br>
    <label class='label' for="user_id">User id:</label><br>
    <input type="text" id="user_id" name="user_id" class="form"><br>
    <br>
    <button type="submit">Submit</button>
</form>

<br>

<h2>Questions</h2>
<br>
<div id="sorting">
    <a href="/?order_by=title">
        <button class="sorting-button"> Sort By Title</button>
    </a>
    <a href="/?order_by=timestamp">
        <button class="sorting-button">Sort By Time</button>
    </a>
    <a href="/?order_by=answer_count">
        <button class="sorting-button">Sort By Answer Count</button>
    </a>
</div>

<br>
<div id="questions">
    <div th:each="question:${questions}" class="question">
        <a th:href="'/question/' + ${question.id()}">
            <h3 th:text="${question.title()}"></h3></a>
            <p th:text="${question.description()}"></p>
            <p th:text="${#dates.format(question.timestamp(), 'yyyy-MM-dd hh:mm:ss')}"></p>
            <p> Answer count: <span th:text=" ${question.answerCount()}"></span></p>
    </div>
</div>

</body>
</html>