<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Title</title>
    <script src="script.js" defer></script>
</head>
<body>
<h1>Hello Codecool!</h1>


<form method="get" id="order-by-title" action="/">
    <input hidden="hidden" type="text" name="order_by" value="title">
    <button type="submit">Sort By Title</button>
</form>
<form method="get" id="order-by-timestamp" action="/">
    <input hidden="hidden" type="text" name="order_by" value="timestamp">
    <button type="submit">Sort By Time</button>
</form>
<form method="get" id="order-by-answer-count" action="/">
    <input hidden="hidden" type="text" name="order_by" value="answer_count">
    <button type="submit">Sort By Answer Count</button>
</form>

<div id="questions">
    <div th:each="question:${questions}">
        <h3 th:text="${question.title()}"></h3>
        <p th:text="${question.description()}"></p>
        <p th:text="${question.timestamp()}"></p>
        <p th:text="${question.answerCount()}"></p>
    </div>
</div>
<h1>Submit question:</h1>
<form method="post" id="new-question" action="/new-question">
    <label class='label' for="title">Title:</label><br>
    <input type="text" id="title" name="title" class="form"><br>
    <label class='label' for="description">Description:</label><br>
    <input type="text" id="description" name="description" class="form"><br>
    <label class='label' for="user_id">User id:</label><br>
    <input type="text" id="user_id" name="user_id" class="form"><br>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>