<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h3>Log in: </h3>
<form method="post" action="/login-user">
    <label class='label' for="username">Username: </label><br>
    <input type="text" id="username" name="username" class="form"><br>
    <label class='label' for="password">Password: </label><br>
    <input type="password" id="password" name="password" class="form"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>