<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'question' + ${question.id()}"></title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div id="question">
    <h3 th:text="${question.title()}"></h3>
    <p th:text="${question.description()}"></p>
    <p th:text="${#dates.format(question.timestamp(), 'yyyy-MM-dd hh:mm:ss')}"></p>
    <p> Answer count: <span th:text=" ${question.answerCount()}"></span></p>
    <a th:if="${sessionNumber != -1 && sessionNumber == question.userId()}"
       th:href="'/delete-question/' + ${question.id}">
        <button>Delete question</button>
    </a>
    <br>
    <div th:unless="${sessionNumber == -1}">
        <h4>Enter your answer here:</h4>
        <form method="post" action="/new-answer">
        <textarea rows="5" cols="50" name="description"></textarea>
            <div class="form">
                <input type="hidden" id="user_id" name="user_id" th:value="${sessionNumber}" class="form"><br>
            </div>
            <input type="hidden" name="question_id" th:value="${question.id()}">
            <button type="submit">Submit</button>
        </form>
    </div>
    <br>
    <h3>Answers: </h3>
    <div th:each="answer:${answers}">
        <ul>
        <li th:text="${answer.description()}"></li>
        </ul>
    </div>
</div>
</body>
</html>