<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h3>Sign up: </h3>
<form method="post" action="/new-user">
    <label class='label' for="username">Username: </label><br>
    <input type="text" id="username" name="username" class="form"><br>
    <label class='label' for="password">Password: </label><br>
    <input type="password" id="password" name="password" class="form"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>